* {
    -fx-primary-red: #F23022;
    -fx-secendary-red: #FF4A3C;
    -fx-primary-blue: #003366;
    -fx-secendary-blue: #1A4D80;
    -fx-primary-background: #C7C7C7;
    -fx-secendary-background: #E1E1E1;
    -fx-primary-pink: #FF8080;
    -fx-secendary-ping: #FF9999;
    -fx-primary-green: #FF33FF;
    -fx-secendary-green: #4DFF4D;
}